/*
Custom Css
*/
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: transform 0.2s ease;
  text-decoration: none;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #1ebe5d;
}

.whatsapp-float i {
  line-height: 1;
}